{% extends 'forstaff.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ patient.patient_number }}<br> Details:
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-check-label">Name</label>
                            <label class="form-control">
                                {{ patient.user_last_name }} {{ patient.user_first_name }}</label>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-check-label">Email</label>
                                <label class="form-control">{{ patient.user_email }}</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-check-label">Phone</label>
                                <label class="form-control">{{ patient.phone }}</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-check-label">Patient ID</label>
                                <label class="form-control">{{ patient.patient_id }}</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-check-label">Occupation</label>
                                <label class="form-control">{{ patient.occupation }}</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-check-label">Blood Group</label>
                                <label class="form-control">{{ patient.blood_group }}</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-check-label">Genotype</label>
                                <label class="form-control">{{ patient.genotype }}</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-check-label">Next pf kin</label>
                                <label class="form-control">{{ patient.next_of_kin }}</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-check-label">Date of birth</label>
                                <label class="form-control">{{ patient.date_of_birth }}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-check-label">Address</label>
                            <textarea readonly class="form-control">{{ patient.address }}</textarea>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-success float-right" href="{% url 'list_patients' %}"><< Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
