{% extends 'fordoctor.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center text-heading ">WELCOME</h1>
        <h3 class="text-center">{{ first_name }}</h3>
        <h2 class="text-info text-center"> Your Doctor Number is: {{ doctor.doctor_number }}</h2>
        <p class="text-center"> Your Doctor number is very important as it is unique to you and are used for various transactions within
            the hospital </p>
        <p class="text-center bg-warning text-capitalize">You have {{ length }} appointments</p>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header">
                            <h4 class="card-title">
                                Today's Appointment
                            </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table table-hover table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th>Appointment Number</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Patient</th>
                                </tr>
                                </thead>
                                {% for appointment in appointments %}
                                    <tbody>
                                    <tr>
                                        <td>{{ appointment.appointment_number }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{ appointment.patient_last_name }} {{ appointment.patient_first_name }}</td>
                                    </tr>
                                    </tbody>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}