{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center mt_130">
            <div class="col-6">
                <div class="card">
                    <h4 class="card-header">
                        Change Your password
                    </h4>
                    <form action="{% url 'change password' %}" method="POST">
                        {% if saved is False %}
                            <script>
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Sorry',
                                    text: 'Make sure the form is filled correctly'
                                });
                            </script>
                        {% elif saved is True %}
                            <script>
                                swal.fire({
                                    icon: 'success',
                                    title: 'Congratulation!',
                                    text: 'Password changed!'
                                })
                            </script>
                        {% endif %}
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="username" class="form-check-label">Username</label>
                                <input name="username" id="username" value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-check-label">New Password</label>
                                <input name="password" class="form-control" id="password" type="password">
                            </div>
                            <div class="form-group">
                                <label for="confirm_password" class="form-check-label">Confirm Password</label>
                                <input name="confirm_password" class="form-control" id="confirm_password" type="password">
                                <span class="text-info" id="message"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}