{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>We are here for your care</h5>
                            <h1>Best Care &
                                Better Doctor</h1>
                            <p>At All care we provide quality health care service to our patients anytime. The health of
                                our patients is our major priority as we have staffs that are dedicated to working in
                                providing a good service to anyone at our hospital. We have several doctors the are
                                specialist in various fields</p>
                            <a href="{% url 'login_get' %}" class="btn_2">Make an appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner_img">
                        <img src="{% static 'api/assets/img/banner_img.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->
    <section class="feature_part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section_tittle text-center">
                        <h2>Our services</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-3 col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img
                                    src="{% static 'api/assets/img/icon/feature_1.svg' %}" alt=""></span>
                            <h4>Specialized Doctors</h4>
                            <p>At All-care hospital we have doctors that specializes in various important aspect of
                                medical line.</p>
                        </div>
                    </div>
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img
                                    src="{% static 'api/assets/img/icon/feature_2.svg' %}" alt=""></span>
                            <h4>Dedicated Health workers</h4>
                            <p>At All-care our health workers are dedicated to providing good services, ensure that the
                                health of works are there major priority .</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="single_feature_img">
                        <img src="{% static 'api/assets/img/service.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img
                                    src="{% static 'api/assets/img/icon/feature_1.svg' %}" alt=""></span>
                            <h4>Improved services</h4>
                            <p>We provide services that helps to ease hospital activities and easy access by
                                patient.</p>
                        </div>
                    </div>
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img
                                    src="{% static 'api/assets/img/icon/feature_2.svg' %}" alt=""></span>
                            <h4>Better Future</h4>
                            <p>Darkness multiply rule Which from without life creature blessed
                                give moveth moveth seas make day which divided our have.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our_depertment section_padding">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-12">
                    <div class="depertment_content">
                        <div class="row justify-content-center">
                            <div class="col-xl-8">
                                <h2>Our Depertment</h2>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="single_our_depertment">
                                            <span class="our_depertment_icon"><img
                                                    src="{% static 'api/assets/img/icon/feature_2.svg' %}"
                                                    alt=""></span>
                                            <h4>Emergency</h4>
                                            <p>We provide service were patients with emergency demands are well attended
                                                to, All-care Emergency section is a wide section of the hospital.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="single_our_depertment">
                                            <span class="our_depertment_icon"><img
                                                    src="{% static 'api/assets/img/icon/feature_2.svg' %}"
                                                    alt=""></span>
                                            <h4>Health and safety</h4>
                                            <p>The role of the occupational health and safety department is to promote
                                                and maintain the highest possible degree of health and safety for all
                                                employees, physicians, volunteers, students and contractors, and
                                                actively participates in quality, safety and risk initiatives.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="single_our_depertment">
                                            <span class="our_depertment_icon"><img
                                                    src="{% static 'api/assets/img/icon/feature_2.svg' %}"
                                                    alt=""></span>
                                            <h4>Patient service</h4>
                                            <p>The Patient Services Manager is a source of information and can channel
                                                patient queries in relation to hospital services to the appropriate
                                                departments.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="single_our_depertment">
                                            <span class="our_depertment_icon"><img
                                                    src="{% static 'api/assets/img/icon/feature_2.svg' %}"
                                                    alt=""></span>
                                            <h4>Medical records</h4>
                                            <p>All-care provides an electronic platform where varies of
                                                types of "notes" entered over time by health care professionals,
                                                recording observations and administration of drugs and therapies, orders
                                                for the administration of drugs and therapies, test results, x-rays,
                                                reports.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}